<?xml version="1.0"?>
<!DOCTYPE profile>
<profile
  xmlns="http://www.suse.com/1.0/yast2ns"
  xmlns:config="http://www.suse.com/1.0/configns">
  <global>
    <activate config:type="boolean">true</activate>
    <append></append>
    <timeout config:type="integer">10</timeout>
    <boot_mbr>true</boot_mbr>
    <suse_btrfs config:type="boolean">false</suse_btrfs>
    <terminal>console</terminal>
  </global>
  <general>
    <mode>
      <!-- Fully unattended => false -->
      <confirm config:type="boolean">true</confirm>
      <final_reboot config:type="boolean">false</final_reboot>
    </mode>
    <self_update config:type="boolean">false</self_update>
  </general>
  <keyboard>
    <keymap>english-us</keymap>
  </keyboard>
  <language>
    <language>en_US</language>
    <languages>en_US</languages>
  </language>
  <timezone>
    <hwclock>UTC</hwclock>
    <timezone>{{{ time_zone }}}</timezone>
  </timezone>
  
  {{> yastdrive }}
  <networking>
  <dns>
    <dhcp_hostname config:type="boolean">false</dhcp_hostname>
    <domain>{{ net.domain }}</domain>
    <hostname>{{{ net.hostname }}}</hostname>
    <nameservers config:type="list">
      {{#net.nameservers}}<nameserver>{{{ . }}}</nameserver>{{/net.nameservers}}
    </nameservers>
    <resolv_conf_policy>auto</resolv_conf_policy>
    <searchlist config:type="list">
      {{#net.namesearch}}<search>{{{ . }}}</search>{{/net.namesearch}}
    </searchlist>
  </dns>
  <interfaces config:type="list">
    <interface>
      <bootproto>static</bootproto>
      <!-- Lecagy elem-name: device -->
      <name>em1</name>
      <startmode>auto</startmode>
      <ipaddr>{{{ net.ipaddress }}}</ipaddr>
      <netmask>{{{ net.netmask }}}</netmask>
    </interface>
  </interfaces>
  <net-udev config:type="list">
    <rule>
      <name>em1</name>
      <rule>ATTR{address}</rule>
      <value>{{{ net.macaddress }}}</value>
    </rule>
  </net-udev>
  <ipv6 config:type="boolean">false</ipv6>
  <managed config:type="boolean">false</managed>
  </networking>
  <firewall>
    <enable_firewall config:type="boolean">false</enable_firewall>
    <start_firewall  config:type="boolean">false</start_firewall>
  </firewall>
  <groups config:type="list">
    <group>
      <gid>{{{ user.uidnum }}}</gid>
      <groupname>users</groupname>
      <userlist/>
    </group>
  </groups>
  <users config:type="list">
    <user>
      <username>root</username>
      <user_password>{{{ user.password }}}</user_password>
    </user>
    <user>
      <username>{{{ user.username }}}</username>
      <user_password>{{{ user.password }}}</user_password>
      <fullname>{{{ user.fullname }}}</fullname>
      <uid>{{{ user.uidnum }}}</uid>
      <gid>{{{ user.uidnum }}}</gid>
      <home>{{{ user.homedir }}}</home>
      <password_settings>
        <expire/>
        <flag/>
        <inact>-1</inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/bash</shell>
    </user>
  </users>
  <scripts>
    <pre-scripts config:type="list">
      <script>
        <filename>installevent_start.sh</filename>
        <source><![CDATA[
#!/bin/sh
echo "Starting installation"
wget "http://{{ httpserver }}/installevent/start?uid=$UID&path="`pwd` || true
exit 0

]]>

        </source>
      </script>
    </pre-scripts>

    <chroot-scripts config:type="list">
      <script>
        <chrooted config:type="boolean">true</chrooted>
        <filename>installevent_post.sh</filename>
        <source><![CDATA[
#!/bin/sh
echo "Starting installation"
wget "http://{{ httpserver }}/installevent/post?uid=$UID&path="`pwd` || true
exit 0
]]>

        </source>
      </script>
{{#postscripts}}
      <script>
        <chrooted config:type="boolean">true</chrooted>
	<filename>{{{ . }}}</filename>
        <location>http://{{{ httpserver }}}/scripts/{{{ . }}}</location>
      </script>
{{/postscripts}}
      <script>
        <chrooted config:type="boolean">true</chrooted>
        <filename>installevent_end.sh</filename>
        <source><![CDATA[
#!/bin/sh
echo "Starting installation"
wget "http://{{ httpserver }}/installevent/end?uid=$UID&path="`pwd` || true
exit 0
]]>

        </source>
      </script>
    </chroot-scripts>
  </scripts>
  <software>
    <packages config:type="list">
      <package>openssh</package>
      <package>python3</package>
      <package>less</package>
      <package>git</package>
      <package>wget</package>
    </packages>
    <do_online_update config:type="boolean">false</do_online_update>
  </software>
  <bootloader>
    <loader_type>grub2</loader_type>
  </bootloader>
  <ssh_import>
    <import config:type="boolean">true</import>
    <copy_config config:type="boolean">true</copy_config>
  </ssh_import>
</profile>
