# Default Installation menu
# Make sure this does not ovewrite anything
# rsync -av default_inst ${TFTP_HOST}:${TFTP_PATH}/pxelinux.cfg/default
# Installer kernel / ramdisk on out-of-box Ubuntu TFTP
# - ubuntu-installer/amd64/linux
# - ubuntu-installer/amd64/initrd.img
# Simple generation of file with mustache:
# cat global.conf.json | ./node_modules/mustache/bin/mustache - ./default_inst

#default menu.c32

# Needed *only* for Ubuntu default `ubuntu-installer` based boot file hierarchy (Not if files are
# simply placed in root dir)
#path ubuntu-installer/amd64/boot-screens/
# ???? default ubuntu-installer/amd64/boot-screens/libcom.c32
# Simplified to root
#default ubuntu-installer/amd64/boot-screens/vesamenu.c32
default vesamenu.c32
# Failed to load COM32 file ubuntu-installer/amd64/boot-screens/stdmenu.c32
#default ubuntu-installer/amd64/boot-screens/stdmenu.c32
# TEMPORARILY DISABLED. Gives grayish / silvery background
#menu background ubuntu-installer/amd64/boot-screens/splash.png
menu title LiNetBoot Tools and Install Menu

prompt 0
timeout 100
# Declaring Default menuitem makes this boot directly to it (independent of timeout !?)
# default local

# Note: Moved to using Gparted (0.31.0-1-amd64, Linux 4.15) for kernel
# See: https://gparted.org/download.php
label local
menu label  Boot From Local First Part. (First Disk, sda1)
#kernel http://{{ httpserver }}/vmlinuz
kernel http://{{ httpserver }}/boot/gparted/vmlinuz
append initrd=http://{{ httpserver }}/boot/gparted/initrd.img root=/dev/sda1

# Same as first menu iten, but second partition
label local2
menu label  Boot From Local Second Part. (First Disk, sda2)
kernel http://{{ httpserver }}/boot/gparted/vmlinuz
append initrd=http://{{ httpserver }}/boot/gparted/initrd.img root=/dev/sda2


# There are 3 memtest binaries in /boot/: memtest86+.bin  memtest86+.elf and memtest86+_multiboot.bin
# All files get correctly fetched by HTTP, but there are execution
# problems. Esp. Ubuntu memtest binaries do not seem to work. Centos and Gparted memtest binaries DO work.
# Possible problem (.elf): "Booting kernel failed: Invalid argument"
# From internet: Could not boot: Invalid argument, Could not boot image: Invalid argument
# http://omniboot.org/txt/memtest8.pdf
# http://forum.ipxe.org/showthread.php?tid=7937 has memtest.0 link: http://boot.ipxe.org/memtest.0
label memtest
menu label  Memory Test (memtest86)
# This would be HTTP path
#kernel http://{{ httpserver }}/memtest86+.bin
#kernel http://{{ httpserver }}/memtest86+.elf
#kernel http://{{ httpserver }}/memtest86+_multiboot.bin
#kernel http://{{ httpserver }}/memtest.0
# Centos 6 provided memtest (works!)
#kernel http://{{ httpserver }}/centos6/isolinux/memtest
# Gparted provided memtest (works!)
kernel http://{{ httpserver }}/gparted/live/memtest
# TFTP Path
#kernel memtest86+

# GpartEd (https://gparted.org/livepxe.php)
# This boot seems to be sometimes (but rarely) failing on Dell D830 with lack of network detection network card support.
label gparted
menu label GpartEd Live (Netboot)
kernel http://{{ httpserver }}/boot/gparted/vmlinuz
append initrd=http://{{ httpserver }}/boot/gparted/initrd.img boot=live config components union=overlay username=user noswap noeject ip= vga=788 fetch=http://{{ httpserver }}/gparted/live/filesystem.squashfs

# Ubuntu kickstart DISABLED, waiting for Centos Install
# label localinst_ks
# menu label Installer Boot - Kickstart (First Disk ignored)
# kernel http://{{ httpserver }}/linux
# #kernel ubuntu-installer/amd64/linux
# # TODO: Add: auto=true
# append initrd=http://{{ httpserver }}/initrd.gz -- ks=http://192.168.1.141/ks.cfg
# #append initrd=ubuntu-installer/amd64/initrd.gz root=/dev/sda1

label localinst_ps18
menu label Install Ubuntu 18.04 Server (Full Automated)
kernel http://{{ httpserver }}/boot/ubuntu18/linux
#kernel ubuntu-installer/amd64/linux
# Must have: "auto=true" (Not only "auto", which may be sufficient for older distros)
# --
# priority=critical (works alternate to hostname...,domain... below) Another: debconf/priority=high
# hostname=unassigned-hostname domain=unassigned-domain
append initrd=http://{{ httpserver }}/boot/ubuntu18/initrd.gz priority=critical auto=true interface=auto ipv6.disable=1 url=http://{{ httpserver }}/preseed.cfg?osid=ubuntu18
# (First Disk ignored)
#append initrd=ubuntu-installer/amd64/initrd.gz root=/dev/sda1


label localinst_ps14
menu label Install Ubuntu 14.04 Server (Full Automated)
kernel http://{{ httpserver }}/boot/ubuntu14/linux
#kernel ubuntu-installer/amd64/linux
# Must have: auto=true 
# --
# priority=critical (works alternate to hostname...,domain... below) Another: debconf/priority=high
# hostname=unassigned-hostname domain=unassigned-domain
# Seems Ubu14 should use live-installer/net-image (https://ubuntuforums.org/showthread.php?t=2228972)
# 
append initrd=http://{{ httpserver }}/boot/ubuntu14/initrd.gz priority=critical auto=true interface=auto DEBCONF_DEBUG=5 ipv6.disable=1 url=http://{{ httpserver }}/preseed.cfg?osid=ubuntu14 live-installer/net-image=http://{{ httpserver }}/ubuntu14/install/filesystem.squashfs
# (First Disk ignored)
#append initrd=ubuntu-installer/amd64/initrd.gz root=/dev/sda1

# ISO: CentOS-6.10-x86_64-netinstall.iso (at ... http://isoredirect.centos.org/centos/6/isos/x86_64/)
# Mirror: http://mirrors.sonic.net/centos/6.10/os/x86_64/ http://mirror.centos.org/centos/6.10/os/x86_64/
label localinst_centos6
menu label Install CentOS 6 (Full Automated)
kernel http://{{ httpserver }}/boot/centos6/vmlinuz
# devfs=nomount
# method=http://{{ httpserver }}/centos6
# Note: Is auto=true hampering this
append initrd=http://{{ httpserver }}/boot/centos6/initrd.img auto=true devfs=nomount ks=http://{{ httpserver }}/ks.cfg?osid=centos6

# Centos 7
# See: https://www.tecmint.com/install-pxe-network-boot-server-in-centos-7/
label localinst_centos7
menu label Install CentOS 7 (Full Automated)
# method=http://mirror.centos.org/centos/7/os/x86_64/
# Note: Centos 7 says: 'method=' is deprecated. Using 'repo=http://...' instead. --noipv6 should be supported.
# RH 6 supports param "text" (?)
kernel http://{{ httpserver }}/boot/centos7/vmlinuz
append initrd=http://{{ httpserver }}/boot/centos7/initrd.img auto=true devfs=nomount repo=http://mirror.centos.org/centos/7/os/x86_64/ ks=http://{{ httpserver }}/ks.cfg?osid=centos7
