# 2nd stage Auto Install for FreeBSD 12.
# This gets loaded by BSD Bootloader "pxeboot" config file (in e.g. TFTP) boot/pc-autoinstall.conf
# by directirve (e.g.): "pc_config: http://.../cust-install.cfg" (typical suggested name)
# Consider adding: /cust-install.cfg?mac=%%NIC_MAC%% (to identify machine)
# For more info, aee (Directory): $ISOROOT/usr/share/examples/pc-sysinstall
# # References
# https://www.youtube.com/watch?v=Yz2_n2yicnc&t=884s
# http://ftp.icm.edu.pl/packages/pcbsd/iso/10.3-RELEASE/amd64/docs/html/advanced.html
#############
# (fresh/upgrade/extract)
installMode=fresh
# # PCBSD/FreeBSD
installType=FreeBSD
# Default: installInteractive=no
installInteractive=yes
# dvd, usb, ftp, rsync, image
# Seems ftp means also http (http://web.mit.edu/freebsd/head/usr.sbin/pc-sysinstall/examples/)
installMedium=ftp
packageType=dist
distFiles=base src kernel
# freebsd12
ftpPath=ftp://{{{ httpserver }}}/pub/8.0/netinstall
# TODO: Generate correct BSD device name
########## Localization ############
# PC-BSD Only ?
timeZone={{{ time_zone }}}
enableNTP=yes
localizeKeyModel=pc105
localizeLang=us
localizeKeyLayout="us"
#localizeKeyVariant="intl"

########## Network #################
hostname={{ net.hostname }}

# AUTO-DHCP or device (e.g. et0, em0, nfe0)
# netDev=nfe0
netDev=em0
# This will rely on DHCP and make almost all settings below irrelevant
#netIP=AUTO-DHCP
#netSaveDev=AUTO-DHCP
netIP={{ net.ipaddress }}
netMask={{ net.netmask }}
netNameServer={{ net.nameservers_first }}
netDefaultRouter={{ net.gateway }}
############# Disk #################
# Partition table (MBR/GPT)
#partscheme=MBR
#disk0=ad0
#partition=all
# (none, bsd)
#bootManager=none
# for Partition table
#commitDiskPart
# ----- Individual partitions ------
# Size 0 means use the rest of the slice size
#disk0-part=UFS 2000 / 
#disk0-part=SWAP 2000 none
#disk0-part=UFS 0 /usr
## For individual partitions (diskN-part items)
#commitDiskLabel

############# User #################
#rootPass=mypass
userName={{ user.username }}
userComment={{ user.fullname }
userPass={{{ user.password }}}
# userEncPass=...
userShell=/bin/bash
userHome={{{ user.homedir }}}
#userGroups=wheel,operator
commitUser

########### Post_Install #############

# Run any commands post-install
# command within chroot of the installed system
#runCommand=echo 'root' | pw usermod root -h 0
# Copy, run inside chroot
#runScript=/root/test.sh
# command outside the chroot woth $FSMNT set to mount pt. of installed system
#runExtCommand=echo 'hey there'; touch $FSMNT/touched
